<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mars Scrape</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet"  type="text/css" href="/../static/css/style.css?v=1.0">
    <link rel="icon" href="/../static/favicon.ico">
</head>

<body>

    <div class="container">
        <div class="jumbotron">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>

        </div>
            {% for each in returndata %}
                    <div class="col-lg-12">
                        <h2>Latest Mars News</h2>
                        <h4>{{each['news title']}}</h4>
                        <h6>{{each['news paragraph']}}</h6> 
                    </div>
                    <div class="col-lg-8">
                        <h2>Featured Mars Image</h2>
                        <figure>
                              <img src={{each['featured image url']}}  alt='Featured Mars Image' height="500" width="700">
                              <figcaption>Featured Mars Image</figcaption>
                        </figure>
                    </div>
                      <br><br>      
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h2 class="panel-title">Current Weather on Mars</h2></div>
                            <div class="panel-body"><h4>{{each['mars weather']}}</h4></div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">Mars Facts</div>
                            <div class="panel-body"></div>
                            <table class="table">
                                {{each['html table']|safe }}
                            </table>
                        </div>
                    </div>  
                    <br><br>
                    <div class="col-lg-6">
                        <figure>
                              <img src={{each['hemisphere image urls'][0]['imgurl']}}  alt={{each['hemisphere image urls'][0]['title']}} height="500" width="500">
                              <figcaption>{{each['hemisphere image urls'][0]['title']}}</figcaption>
                        </figure>
                    </div>          
                    <div class="col-lg-6">
                        <figure>
                              <img src={{each['hemisphere image urls'][1]['imgurl']}}  alt={{each['hemisphere image urls'][1]['title']}} height="500" width="500">
                              <figcaption>{{each['hemisphere image urls'][1]['title']}}</figcaption>
                        </figure>
                    </div>          
                    <div class="col-lg-6">
                        <figure>
                              <img src={{each['hemisphere image urls'][2]['imgurl']}}  alt={{each['hemisphere image urls'][2]['title']}} height="500" width="500">
                              <figcaption>{{each['hemisphere image urls'][2]['title']}}</figcaption>
                        </figure>
                    </div>          
                    <div class="col-lg-6">
                        <figure>
                              <img src={{each['hemisphere image urls'][3]['imgurl']}}  alt={{each['hemisphere image urls'][3]['title']}} height="500" width="500">
                              <figcaption>{{each['hemisphere image urls'][3]['title']}}</figcaption>
                        </figure>
                    </div>                  

            {% endfor %}

    </div>

</body>

</html>

